<!-- START THE FEATURETTES -->
<div class="container marketing">

    <a name="runox-intro"><hr class="featurette-divider"></a>

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">来源追溯，更放心</h2>
            <p class="lead"> 智慧牧场系统结合基于区块链的奶源追溯系统，监测每一头奶牛的生长周期，管理每一滴奶的生产流程。让一切真相，都近在眼前。
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="images/cow.jpeg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 push-md-5">
            <h4 class="featurette-heading">先享后付，更方便</h4>
            <p class="lead">针对乳制品自主研发的智能货柜，适用场景广泛。全天候服务，开门可取，3s结算，随拿随走，购买付款流畅体验。给每个消费者一个属于自己的的乳品冰箱。</p>
        </div>
        <div class="col-md-5 pull-md-7">
            <img class="featurette-image img-fluid mx-auto" src="images/box5s.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">智能推荐，更体贴</h2>
            <p class="lead">人工智能推荐系统，实现千人千面，千机千面，感受消费者的每一丝心跳，并精准反馈用户需求至生产源头。客户的每一丝细微需求，我们都从头改进。</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="images/bigdata.jpeg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

</div>

<!-- /END THE FEATURETTES -->