<!-- START THE FEATURETTES -->
<div class="container marketing">

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">精准配送</h2>
        <p class="lead">人工智能推荐系统，精准反馈用户需求至生产源头。客户的每一丝需求，我们都从头改进。</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="images/bigdata.jpeg" alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 push-md-5">
        <h2 class="featurette-heading">自家的乳品冰箱</h2>
        <p class="lead">开放式货柜，24小时不打烊，开门可取，5s结算，随拿随走，购买付款流畅体验。</p>
    </div>
    <div class="col-md-5 pull-md-7">
        <img class="featurette-image img-fluid mx-auto" src="images/box5s.jpg" alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">来源可追溯</h2>
        <p class="lead"> 智慧牧场，监测每一头奶牛的生长周期，监测每一滴奶的生产流程。一切近在眼前。</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="images/qrcode.jpg" alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

</div>

<!-- /END THE FEATURETTES -->