<!-- Fixed navbar -->
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand p-0" href="/">
            <img src="images/logo/1x/white.png" width="160px">
        </a>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" id="nav-item-about">
                    <a class="nav-link" href="#runox-about"> 关于孺牛</a>
                </li>
                <li class="nav-item" id="nav-item-about">
                    <a class="nav-link" href="#runox-intro"> 产品介绍</a>
                </li>
                <li class="nav-item" id="nav-item-about">
                    <a class="nav-link" href="#runox-contact"> 联系我们</a>
                </li>
            </ul>

        </div><!--/.nav-collapse -->
    </div>
</nav>