<!-- Fixed navbar -->
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand p-0" href="/">
            华莫甄选
        </a>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" id="nav-item-about">
                    <a class="nav-link" href="/about"><span class="fa fa-phone"></span> About</a>
                </li>
            </ul>

        </div><!--/.nav-collapse -->
    </div>
</nav>