<%- include('public/header') %>

<link href="/stylesheets/about.css" rel="stylesheet">

<body>

<%- include('components/nav') %>


<div class="container">
    <div class="mt-1 py-3">
        <h2>让每一滴奶，都带着牧草的清香</h2>
    </div>
    <p class="lead py-3">
        华莫甄选致力于为消费者提供放心乳制品。华莫基于多年乳制品行业经验，从全国3000多家牧场精选优质奶源，精选高水准加工厂，剔除品牌溢价和中间环节，为国人提供价格合理，高品质的乳制品，并通过智能零售终端，打造开放的无人售货系统，将产品直接送到消费者手上。
    </p>
</div>


</body>
</html>
